<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="MinimalClientWithCerti" type="Opc.Ua.ApplicationConfigurationSection,Opc.Ua.Core"/>
  </configSections>
  
  <MinimalClientWithCerti>
    <ConfigurationLocation xmlns = "http://opcfoundation.org/UA/SDK/Configuration.xsd" > 
      <FilePath>MinimalClientWithCerti.Config.xml</FilePath>
    </ConfigurationLocation>
  </MinimalClientWithCerti >

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

</configuration>